body {
    background: url("../images/mountains.jpg") no-repeat center fixed;
    background-size: cover;
}

.formbox {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: 300px;
    margin: 15% auto auto auto;
    border-radius: 20px;
}

img {
    display: block;
    filter: invert(100%);
    padding: 1em;
    margin: auto;
    border-bottom: 1px #6e6e6e solid;
}

.formbox div {
    margin: 1em 3em;
    padding: 1em;
}

.formbox input {
    display: block;
    border-radius: 20px;
    border: solid 2px #6e6e6e;
    width: 300px;
    padding: 1em;
    margin: 2em;
}